body {
  padding: 20px; 
  max-width: 1000px;
  margin: 0 auto; 
  font-family: comic sans ms;
}

/* This has been the hardest part here for me has been the 
concept of the padding, margins, width and px vs. %. 
In my table of contents "TOC" I really had a hard time 
centering and manipulating the boxes. I find myself just 
entering and changing things just to see what happens.*/

h1 {
    text-align: center;
    color: #DF3A01;
}
h2 {
    text-align: center; 
    font-weight: lighter; 
}

h3 { text-align: center;

}

.page-head {background-color: #CAE1FF;
    padding: 15px;
    margin: 2px;
    border-radius: 20px}


.table-box {
    border-radius: 20px;
    padding: 0px; 
    margin: 10px auto;}

.TOC { 
    font-size: 15px;
    margin: 10px;
    text-align: center; 
    font-weight: bold; 
    color: black; }

.TOC-LIST {font-size: 20px;
    margin: 10px;
    text-align: center; 
    font-weight: bold; 
    color: #0431B4; }

ul {list-style: none}

ol {}

li { font-size: 10pt}



p {font-size: 10pt; margin: 10px 0}


.project {
    background-color: #6E7B8B;
    border-radius: 20px;
    color: white;
    padding: 10px; 
    margin: 20px auto;
}



.sections {
    background-color: #CAE1FF;
    padding: 15px;
    margin: 2px;
    border-radius: 20px ;
    color: black;
}

.lesson-topics {
    font-size: 20px;
    margin: 10px;
    text-align: center; 
    font-weight: bold; 
    color: #0431B4; 
    }

.lesson-notes {
    margin: 10px;
}
